* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #e2e2e2; */

}

.hdr {
  border-bottom: 5px solid #000;
  background-color: transparent;
}

.button {
  background-color: transparent;
  font-size: 130%;
  margin-left: 2%;
  color: #585858;
}

.cal-entry {
  border: 1px solid #000;
  background-color: transparent;
}

.row {
  background-color: #e2e2e2;
}

.label {
  font-weight: bolder;
}