* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hdr {
  border-bottom: 4px solid #000;
  background-color: transparent;
}

.button {
  background-color: transparent;
  font-size: 130%;
  margin-left: 2%;
  color: #585858;
  
}

.button:hover {
  color: #a7a7a7;
}

.cal-entry {
  border: 1px dotted #5c5c5c;
  background-color: transparent;
}

.cal-entry:focus {
  outline: none;
}

.label {
  font-weight: bold;
}

.past {
  background-color: #e2e2e2;
}

.present {
  background-color: #e09191;
}

.future {
  background-color: #8ed3a3;
}
